[access "refs/heads/*"]
	abandon = group bandit-core
	label-Code-Review = -2..+2 group bandit-core
	label-Workflow = -1..+1 group bandit-core

[access "refs/tags/*"]
	pushSignedTag = group bandit-release
	pushTag = group bandit-core

[receive]
	requireChangeId = true
	requireContributorAgreement = true

[submit]
	mergeContent = true
